Repository noTreeTeam/postgres, changes with the owners that .github/CODEOWNERS names for each.
All owners: @supabase/backend, @supabase/postgres, @supabase/cli

.github/CODEOWNERS:

* @supabase/backend @supabase/postgres
migrations/ @supabase/cli @supabase/backend
docker/orioledb @supabase/postgres @supabase/backend
common.vars.pkr.hcl @supabase/postgres @supabase/backend

feat: limit /etc to readonly
  ansible/files/postgresql_config/postgresql.service.j2
Owners: @supabase/backend, @supabase/postgres

bump version numbers
  ansible/vars.yml
Owners: @supabase/backend, @supabase/postgres

chore: add test for read-only mount
  ansible/files/permission_check.py
Owners: @supabase/backend, @supabase/postgres

fix: evtrigs ownership
  migrations/README.md
  migrations/db/migrate.sh
  migrations/db/migrations/00000000000000-initial-schema.sql
  migrations/db/migrations/00000000000001-auth-schema.sql
  migrations/db/migrations/00000000000002-storage-schema.sql
  migrations/db/migrations/00000000000003-post-setup.sql
  migrations/tests/extensions/04-pg_cron.sql
  migrations/tests/extensions/15-pg_net.sql
  nix/tests/expected/evtrigs.out
  nix/tests/sql/evtrigs.sql
  nix/tools/dbmate-tool.sh.in
  nix/tools/run-server.sh.in
Owners: @supabase/cli, @supabase/backend, @supabase/postgres

try fixing CI commit
  migrations/README.md
Owners: @supabase/cli, @supabase/backend

fix: flake check not working locally on linux
  nix/docs/adding-new-package.md
  nix/ext/hypopg.nix
  nix/ext/index_advisor.nix
  nix/ext/mecab-naist-jdic/default.nix
  nix/ext/orioledb.nix
  nix/ext/pg-safeupdate.nix
  nix/ext/pg_backtrace.nix
  nix/ext/pg_cron.nix
  nix/ext/pg_graphql.nix
  nix/ext/pg_hashids.nix
  nix/ext/pg_jsonschema.nix
  nix/ext/pg_net.nix
  nix/ext/pg_partman.nix
  nix/ext/pg_plan_filter.nix
  nix/ext/pg_regress.nix
  nix/ext/pg_repack.nix
  nix/ext/pg_stat_monitor.nix
  nix/ext/pg_tle.nix
  nix/ext/pgaudit.nix
  nix/ext/pgjwt.nix
  nix/ext/pgroonga.nix
  nix/ext/pgrouting.nix
  nix/ext/pgsodium.nix
  nix/ext/pgsql-http.nix
  nix/ext/pgtap.nix
  nix/ext/pljava.nix
  nix/ext/plv8.nix
  nix/ext/postgis.nix
  nix/ext/rum.nix
  nix/ext/sfcgal/sfcgal.nix
  nix/ext/timescaledb-2.9.1.nix
  nix/ext/timescaledb.nix
  nix/ext/vault.nix
  nix/ext/wal2json.nix
  nix/ext/wrappers/default.nix
  nix/supabase-groonga.nix
  nix/wal-g.nix
Owners: @supabase/backend, @supabase/postgres

fix: evtrigs ownership
  migrations/README.md
  migrations/db/migrate.sh
  migrations/db/migrations/00000000000000-initial-schema.sql
  migrations/db/migrations/00000000000001-auth-schema.sql
  migrations/db/migrations/00000000000002-storage-schema.sql
  migrations/db/migrations/00000000000003-post-setup.sql
  migrations/tests/extensions/04-pg_cron.sql
  migrations/tests/extensions/15-pg_net.sql
  nix/tests/expected/evtrigs.out
  nix/tests/sql/evtrigs.sql
  nix/tools/dbmate-tool.sh.in
  nix/tools/run-server.sh.in
Owners: @supabase/cli, @supabase/backend, @supabase/postgres

start / stop postgresql.service when doing osquery permission checks
  ansible/playbook.yml
Owners: @supabase/backend, @supabase/postgres

chore: set pg_graphql to stable rust
  ansible/vars.yml
  nix/ext/pg_graphql.nix
Owners: @supabase/backend, @supabase/postgres

chore: handle ports per version in test
  nix/ext/pg_graphql.nix
Owners: @supabase/backend, @supabase/postgres

chore: pushed too soon. rm typo
  ansible/vars.yml
Owners: @supabase/backend, @supabase/postgres

chore: suffix for testing
  ansible/vars.yml
Owners: @supabase/backend, @supabase/postgres

chore: bump
  ansible/vars.yml
Owners: @supabase/backend, @supabase/postgres

chore: working on fixing migrations test at end of AMI build
  migrations/tests/storage/exists.sql
  migrations/tests/test.sql
Owners: @supabase/cli, @supabase/backend

chore: create table used in testing
  migrations/tests/test.sql
Owners: @supabase/cli, @supabase/backend

chore: set pg_graphql to stable rust
  ansible/vars.yml
  nix/ext/pg_graphql.nix
Owners: @supabase/backend, @supabase/postgres

chore: handle ports per version in test
  nix/ext/pg_graphql.nix
Owners: @supabase/backend, @supabase/postgres

chore: pushed too soon. rm typo
  ansible/vars.yml
Owners: @supabase/backend, @supabase/postgres

chore: remove unnecessary build flag
  nix/ext/pg_graphql.nix
Owners: @supabase/backend, @supabase/postgres

chore: suffix for testing
  ansible/vars.yml
Owners: @supabase/backend, @supabase/postgres

chore: bump
  ansible/vars.yml
Owners: @supabase/backend, @supabase/postgres

chore: bump
  ansible/vars.yml
Owners: @supabase/backend, @supabase/postgres

chore: need to link wal-g v2 correctly
  ansible/tasks/setup-wal-g.yml
Owners: @supabase/backend, @supabase/postgres

chore: bump
  ansible/vars.yml
Owners: @supabase/backend, @supabase/postgres
